APP_NAME="Sistem Arsip Prodi"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=arsip_prodi
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_CLIENT_SECRET=
GOOGLE_DRIVE_REDIRECT_URI=http://127.0.0.1:8000/google/callback

SEED_ADMIN_PASSWORD=Admin@Arsip26
SEED_D3_KEBIDANAN_PASSWORD=123456
SEED_D3_KEPERAWATAN_PASSWORD=123456
SEED_D4_MIKES_PASSWORD=123456
SEED_S1_FARMASI_PASSWORD=123456
SEED_S1_KEBIDANAN_PASSWORD=123456
SEED_S1_KEPERAWATAN_PASSWORD=123456
SEED_S1_TI_PASSWORD=123456
SEED_DEKAN_PASSWORD=123456
